<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Cancellation</title>
</head>

<body>

<div align="center">
<table width="600" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="border:1px solid #ccc;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" width="130" style="border-bottom:1px solid #ccc; line-height:0px;"><a href="%%#catalog_domain%%"><img src="http://mediacdn.shopatron.com/%%#catalog_logo%%&w=100&h=90" border="0" alt="%%#mfg_catalog_name%%" /></a></td>
            <td align="left" valign="top" bgcolor="#f5f5f5" style="border-bottom:1px solid #ccc; border-left:1px solid #ccc;" height="95">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#5b656d; padding:35px 0 6px 17px; line-height:14px; text-align:left;">%%#mfg_catalog_name%%</td>
                  </tr>
                  <tr>
                    <td style="font-family:'Arial Black', Arial, Helvetica, sans-serif; font-size:22px; color:#5b656d; padding:0px 0 14px 17px; text-align:left; line-height:24px;"><div block="1" key="cancellation" name="Cancellation" description="Place Order Cancellation Title Here" display="rich">CANCELLATION</div></td>
                  </tr>
                </table>
            </td>
          </tr>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="padding:0 16px 46px 17px;">
                <div align="right">
                <table border="0" cellspacing="0" cellpadding="0" bgcolor="#5b656d">
                  <tr>
                    <td style="line-height:0;"><img src="http://hosting.bm23.com/17205/internal/templates/69541/get_orderstatus_icon.gif" width="38" height="31" border="0" style="line-height:0;" alt="Order Status Icon" /></td>
                    <td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#FFFFFF;"><div block="1" key="get_order_status" name="Get Order Status" description="Place Link Text Here" display="rich">Get Order Status</div></td>
                    <td style="line-height:0;"><img src="http://hosting.bm23.com/17205/internal/templates/69541/get_help_icon.gif" width="49" height="31" border="0" style="line-height:0;" alt="Order Help Icon" /></td>
                    <td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#FFFFFF;"><div block="1" key="get_order_help" name="Get Order Help" description="Place Link Text Here" display="rich">Get Order Help</div></td>
                    <td style="line-height:0;"><img src="http://hosting.bm23.com/17205/internal/templates/69541/get_help_cap.gif" width="12" height="31" border="0" style="line-height:0;" /></td>
                  </tr>
                </table>
                </div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td style="font-family:Arial, Helvetica, sans-serif; color:#000; font-size:12px; line-height:17px; padding:11px 0 23px 0; text-align:left;"><div block="1" key="email_intro_txt" name="Email Introduction Text" description="Place Text Here" display="rich">Dear %%#first_name%% %%#last_name%%, <br /><br />The following item(s) from %%#mfg_catalog_name%% order %%#order_id%% have been cancelled.</div>
                    </td>
                  </tr>
                </table>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #dfdfdf;">
                  <tr>
                    <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td bgcolor="#f5f5f5" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#5b656d; padding:11px 15px 11px; border-bottom:1px solid #dfdfdf; text-align:left;"><div block="1" key="items_cancelled" name="Items cancelled" description="Place Title Here" display="rich">Item</div></td>
                        <td bgcolor="#f5f5f5" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#5b656d; padding:11px 15px 11px; border-bottom:1px solid #dfdfdf; text-align:left;">&nbsp;</td>
                        <td align="right" bgcolor="#f5f5f5" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#5b656d; padding:11px 15px 11px; border-bottom:1px solid #dfdfdf;"><div block="1" key="subtotal_title" name="Subtotal" description="Place Title Here" display="rich">Subtotal</div></td>
                        <td align="right" bgcolor="#f5f5f5" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#5b656d; padding:11px 15px 11px; border-bottom:1px solid #dfdfdf;"><div block="1" key="status" name="Status" description="Place Title Here" display="rich">Status</div></td>
                      </tr>
                    <!--{dynamic_code}-->
                    <!--{loop}-->
                  <tr>
                    <td width="80" align="center" valign="top" style="padding:14px 17px 16px 15px; border-bottom:1px solid #dfdfdf;"><a href="%%#cancelled_prod_url_#%%"><img src="http://mediacdn.shopatron.com%%#cancelled_item_image_#%%&w=80&h=80" border="0" /></a></td>
                    <td valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:17px; padding:14px 17px 16px 0; text-align:left; border-bottom:1px solid #dfdfdf;">
                                <strong>%%#cancelled_item_name_#%%</strong><br />
                                %%#cancelled_item_options_#%%
                                %%#cancelled_part_number_#%%<br />
                                %%#cancelled_item_quantity_#%%<br />
                            </td>
                    <td width="130" align="right" valign="top" style=" font-family:Arial, Helvetica, sans-serif; color:#000; font-size:11px; padding:14px 15px 11px; border-bottom:1px solid #dfdfdf;">%%#cancelled_item_subtotal_#%%</td>
                    <td width="130" align="right" valign="top" style=" font-family:Arial, Helvetica, sans-serif; color:#000; font-size:11px; padding:14px 15px 11px; border-bottom:1px solid #dfdfdf;">%%#cancelled_item_status_#%%</td>
                  </tr>
                    <!--{/loop}-->
                    <!--{/dynamic_code}-->
                    </table>
                    </td>
                  </tr>
                  <tr>
                    <td align="right" bgcolor="#f5f5f5" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#5b656d; padding:11px 15px 11px; border-top:0px solid #dfdfdf;"></td>
                  </tr>
                </table>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td style="border-bottom:1px dotted #999; padding-top:10px;">&nbsp;</td>
                  </tr>
                  <tr>
                    <td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#000; padding:25px 0 15px 0; text-align:left;"><div block="1" key="important_notes" name="Important Notes About Your Order" description="Place Title Here" display="rich">Important notes about your order:</div></td>
                  </tr>
                </table>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td bgcolor="#e4eff5" style="border:1px solid #a6cbdd; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:17px; padding:18px 24px 18px 16px; color:#000; text-align:left;"><div block="1" key="order_notes_txt" name="Important Notes Text" description="Place Text Here" display="rich">Full credit for any cancelled items will be applied to the payment method you used to place your order. %%#accept_order_text%% <br /><br />If you would like to place a new order, go to <a href="%%#catalog_domain%%">%%#catalog_domain%%</a>. We apologize for any inconvenience this has caused.</div>
                    </td>
                  </tr>
                </table>
                
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td align="left" valign="top" width="185" bgcolor="#f5f5f5" style="border:1px solid #dfdfdf;">
                    	<table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td style="line-height:0; text-align:left;"><img src="http://hosting.bm23.com/17205/internal/templates/69798/help_icon.gif" width="49" height="43" alt="Help Icon" /></td>
                            <td style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:12px; color:#000; text-align:left;"><div block="1" key="need_order_help" name="Need Order Help" description="Place Title Here" display="rich">Need Order Help?</div></td>
                          </tr>
                        </table>
                    </td>
                  </tr>
                  <tr>
                    <td style="border:1px solid #dfdfdf; border-top:none; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; line-height:16px; padding:14px 14px 16px; text-align:left;"><div block="1" key="order_help_txt" name="Order Help Text" description="Place Text Here" display="rich">If you have questions about your order or need to contact us, please visit our Help Center.</div>
                    </td>
                  </tr>
                </table>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; font-weight:bold; padding:25px 0 15px 0; text-align:left;"><div block="1" key="thank_you" name="Thank you" description="Place Title Here" display="rich">Thank you for shopping with %%#mfg_catalog_name%%!</div></td>
                  </tr>
                </table>
            </td>
          </tr>
        </table>
    </td>
  </tr>
  <tr>
  	<td style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#000; text-align: center; padding: 20px 0;"><div block="1" key="account_address" name="account_address" description="Account Address Here" display="rich">%%!account_address%%</div></td>
  </tr>
  <tr>
  	<td style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#000; text-align: center;"><a href="%%!unsubscribe_url%%">Unsubscribe</a></td>
  </tr>
</table>
</div>

</body>
</html>